<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    </head>
    <body>
        <section class="about-us">
            <div class="about">

                <div class="text">

                    <h5>A <span>Final Year Project</span> developed by<br>Muhammad Aiman Afiq Bin Mohamad Asri</h5>
                    <p>
                        An undergraduate student studying in Bachelor of Information Technology (Honours) in Cyber Security, Universiti Poly-Tech Malaysia (UPTM).
                    </p>
                    <br>
                    <hr class="solid">
                    <br>

                    <p>
                        Welcome to our platform dedicated to safeguarding users against phishing attacks through URL web detection. Our mission is to provide a secure online environment by identifying and neutralizing phishing threats effectively.
                    </p>

                    <br>
                    <h3>
                        Our Expertise
                    </h3>
                    <p>
                        Backed by a team of cybersecurity experts with years of experience in the field, we utilize cutting-edge technologies and industry best practices to stay ahead of evolving cyber threats.
                    </p>

                    <br>
                    <h3>
                        Detection Techniques
                    </h3>
                    <p>
                        Our platform employs a diverse range of detection techniques, including advanced machine learning algorithms, real-time analysis, and comprehensive URL blacklists, ensuring thorough and accurate identification of phishing URLs.
                    </p>

                    <br>
                    <h3>
                        Accuracy and Reliability
                    </h3>
                    <p>
                        We are committed to maintaining the highest standards of accuracy and reliability in our detection system, continuously refining our algorithms to deliver precise results and protect users from falling victim to phishing scams.
                    </p>

                    <br>
                    <h3>
                        Contact Us
                    </h3>
                    <p>
                        Have questions, concerns, or feedback? Reach out to our team via [email protected] or through our contact form. We value your input and are here to assist you with any inquiries you may have.
                    </p>

                    <button onclick="history.back()">Back</button>

                </div>

                <img src="/static/bg6.jpg" class="pic" />
            </div>

        </section>
    </body>
</html>