<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Awareness</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/awareness.css') }}">
    </head>
    <body>
        <section class="about-us">
            <div class="about">
                
                <div class="text">

                    <h3>
                        What Is Phishing Awareness?
                    </h3>
                    <br>
                    <p>
                        One thoughtless click has the power to compromise your entire network. Ensuring users know how to protect themselves from phishing scams, how phishing attacks work, and how to recognize and respond to attacks is an ongoing commitment.
                    </p>
                    <br>
                    <p>
                        Phishing awareness uses realistic phishing attempts in a safe and controlled environment, offering users the opportunity to become familiar with and more resilient to the tactics used in real phishing attacks.
                    </p>
                    <br><br>

                    <h3>
                        Phishing Awareness
                    </h3>
                    <ul>
                        <li>
                            If you're not familiar with the term, let's briefly discuss it. Phishing includes sending out false information and pretending to be a reputable company to convince somebody to reveal personal information.
                        </li>
                        <li>
                            Phishing comes in many forms with many different intentions. For example, a cybercriminal could be looking for personal information or passwords and targeting users with malicious emails. If an user clicks on any link, it's already too late.
                        </li>
                        <li>
                            That's why user training is necessary. If users click on any of these links, even in good faith, it opens your company's network to ransomware, data breaches, and more.
                        </li>
                    </ul>

                    <h3>
                        What is Phishing

                    </h3>
                    <ul>
                        <li>
                            Phishing is a fraudulent practice where cybercriminals impersonate legitimate entities, such as companies or individuals, to deceive people into disclosing sensitive information like passwords, credit card numbers, or personal data.
                        </li>
                        <li>
                            This is often done through deceptive emails, text messages, or websites that appear authentic but are actually designed to steal information or install malicious software on the victim's device.
                        </li>
                        <li>
                            Phishing attacks exploit human psychology, often using urgency or fear to manipulate victims into taking actions that compromise their security.
                        </li>
                    </ul>

                    <h3>
                        Type of Phishing

                    </h3>
                    <ul>
                        <li>
                           Phishing is when scammers trick people into giving away sensitive information, like passwords or financial details, by sending fake emails or messages that look real. There are different types, such as email phishing, trap phishing, and spear phishing, which targets specific individuals. Angler phishing uses social media, while whaling targets high-level executives. Voice phishing (vishing) and text phishing (smishing) use phone calls or texts, and pharming redirects users to fake websites. These scams aim to exploit trust and vulnerability for personal gain.



                        </li>

                    </ul>




                    <h3>
                        Prevent Phishing Attacks
                    </h3>
                    <ul>
                        <li>
                           To protect against spam mails, spam filters can be used. Generally, the filters assess the origin of the message, the software used to send the message, and the appearance of the message to determine if it’s spam. Occasionally, spam filters may even block emails from legitimate sources, so it isn’t always 100% accurate.
                        </li>
                        <li>
                            To avoid fake websites, change your browser settings. Browsers have a list of fake sites and will block or show a warning when you try to visit them. Set your browser to only open trusted websites.
                        </li>
                        <li>
                            Some websites show user images while asking for login details, which could be risky. To stay safe, it's important to change passwords often and avoid using the same one for different accounts. Websites can also add extra security by using CAPTCHA.
                        </li>
                    </ul>





                    <button onclick="history.back()">Back</button>

                </div>

                <img src="" class="pic">

            </div>
        </section>
    </body>
</html>