body, html {
    height              : 100%;
    margin              : 0;
    padding             : 0;
    font-family         : "Helvetica", sans-serif;
    background          : #1abc9c;
    background          : linear-gradient(135deg, #1abc9c 0%, #8e44ad 100%);
}

h1 {
    font-size           : 24px;
    margin              : 10px 0 0 0;
    font-weight         : lighter;
    text-transform      : uppercase;
    color               : #eeeeee;
}

@-webkit-keyframes float {
    0% {
        box-shadow      : 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform       : translatey(0px);
    }
    50% {
        box-shadow      : 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform       : translatey(-20px);
    }
    100% {
        box-shadow      : 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform       : translatey(0px);
    }
}

@keyframes float {
    0% {
        box-shadow      : 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform       : translatey(0px);
    }
    50% {
        box-shadow      : 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform       : translatey(-20px);
    }
    100% {
        box-shadow      : 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform       : translatey(0px);
    }
}

.container {
    width               : 100%;
    height              : 100%;
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
}

.emojis {
    display             : flex;
    justify-content     : space-around;
    align-items         : center;
    width               : 50%;
    margin-left         : auto;
    margin-right        : 0;
}

.emoji {
    display             : flex;
    align-items         : center;
    justify-content     : center;
    width               : 120px;
    height              : 120px;
    box-sizing          : border-box;
    border              : 2px red solid;
    border-radius       : 50%;
    overflow            : hidden;
    box-shadow          : 0 15px 15px 0px rgba(0, 0, 0, 0.6);
    transform           : translatey(0px);
    -webkit-animation   : float 3s ease-in-out infinite;
    animation           : float 3s ease-in-out infinite;
    margin-left         : auto;
    margin-right        : 0;
}

.emoji a {
    text-decoration     : none;
}

.emoji span {
    width               : 100%;
    height              : 100%;
    font-size           : 3rem;
    border              : none;
}

.content {
    margin              : 2rem 0;
}

.emoji:nth-child(1) {
    -webkit-animation-delay         : 0.5s;
    animation-delay                 : 0.5s;
}

.emoji:nth-child(2) {
    -webkit-animation-delay         : 1s;
    animation-delay                 : 1s;
}

.emoji:nth-child(3) {
    -webkit-animation-delay         : 1.5s;
    animation-delay                 : 1.5s;
}

.emoji:nth-child(4) {
    -webkit-animation-delay         : 2s;
    animation-delay                 : 2s;
}

.emoji:nth-child(5) {
    -webkit-animation-delay         : 2.5s;
    animation-delay                 : 2.5s;
}

.emoji:nth-child(6) {
    -webkit-animation-delay         : 3s;
    animation-delay                 : 3s;
}

.emoji:nth-child(7) {
    -webkit-animation-delay         : 3.5s;
    animation-delay                 : 3.5s;
}

.emoji:nth-child(8) {
    -webkit-animation-delay         : 4s;
    animation-delay                 : 4s;
}

.emoji:nth-child(9) {
    -webkit-animation-delay         : 4.5s;
    animation-delay                 : 4.5s;
}

.emoji:nth-child(10) {
    -webkit-animation-delay         : 5s;
    animation-delay                 : 5s;
}

.emoji:hover {
    -webkit-animation-play-state    : paused;
    animation-play-state            : paused;
}